h1 {
  font-weight: 800;
  margin: 25px;
  text-align: center;
  color: #d6c042;
}
.shop-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: 25rem;
  /* width: calc(33.33% - 40px); */
  margin: 30px 0;
  text-align: center;
}
.product h2 {
  margin-top: 20px;
  font-size: 30px;
}
.product img {
  height: 50vh;
  width: 22rem;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .shop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 6.2rem;
    padding: 20px;
    align-items: center;
    /* width: calc(33.33% - 40px); */
    margin: 0 39px;
    text-align: center;
  }

  .product img {
    height: 35vh;
    width: 10rem;
    object-fit: contain;
  }

  .product h2 {
    margin-top: 20px;
    font-size: 13.5px;
    font-weight: 700;
    white-space: nowrap;
  }

  .product button {
    width: 150px;
    height: 40px;
  }
}

.selects {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
