.cart-container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.cart-item {
  display: flex;
  flex-direction: column;
}

.cart-item .product {
  display: flex;
  align-items: center;
  margin: 40px auto;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  height: 30vh;
  border-radius: 15px;
}
.cart-item .product img {
  width: 10rem;
  height: 20vh;
  object-fit: contain;
}
.cart-item .details-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.cart-item .details-container h2 {
  font-size: 20px;
  font-weight: 800;
}
.cart-item .details-container p {
  margin-right: auto;
}
.cart-item .quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 100px;
  z-index: 1;
  margin-left: 95px;
}

.quantity-controls button {
  padding: 2px 12px;
  cursor: pointer;
  background-color: #60a4ec;
  color: #fff;
  border: none;
  width: 40px;
}
.quantity-controls input {
  text-align: center;
  display: flex;
  text-align: center;
  width: 90px;
  text-align: center;
  border: none;
  background-color: #e0e5ea;
  padding: 2px 5px;
  margin: 0;
  outline: none;
}

.totalprice {
  display: flex;
  margin-left: auto;
  background-color: #e0e5ea;
  position: absolute;
  top: 15rem;
  right: 90px;
  height: 30vh;
  width: 15rem;
  justify-content: center;
  padding-top: 50px;
  border-radius: 4px;
}

.btn-checkout {
  height: 40px;
  width: 240px;
  margin-left: auto;
  margin-right: 70px;
  margin-bottom: 30px;
}

@media screen and (max-width: 900px) {
  .cart-item .product {
    display: flex;
    height: 30vh;
    width: 23rem;
    /* margin: auto; */
  }
  .cart-item .product img {
    height: 20vh;
    margin-top: 10px;
    object-fit: contain;
  }
  .cart-item .details-container {
    display: flex;
    margin-right: auto;
    margin-left: 20px;
    align-items: center;
  }

  .cart-item .quantity-controls {
    position: relative;
    bottom: 74px;
    left: 25px;
  }
  .totalprice {
    position: sticky;
    top: 3rem;
    height: 13vh;
    right: 0;
  }
  .btn-checkout {
    border-radius: 0;
    margin-right: 0px;
    margin-top: 20px;
  }
}
