.cart-container {
  display: flex;
  flex-direction: column;
}

.cart-container h1 {
  margin: 30px auto;
}

.cart-item .item img {
  height: 25vh;
  width: 10rem;
  object-fit: contain;
}

.removebtn {
  width: 100px;
}

.cart-item {
  display: flex;
  width: 550px;
  height: 35vh;
  align-items: center;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.cart-item .item > img {
  margin-top: 30px;
  margin-left: 3rem;
}
.cart-item .item-description {
  position: relative;
  bottom: 160px;
  left: 140px;
}
.countHandler {
  margin-left: 90px;
}
.cart-item input {
  width: 50px;
  text-align: center;
}

.cart-item button {
  width: 40px;
}

.totalprice {
  margin-left: 40px;
  background-color: yellowgreen;
}
