#canv {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  color: rgb(20, 15, 15);
  z-index: 12;
  position: relative;
  font-size: 5.1rem;
  line-height: 1.1;
  max-width: 13ch;
}

.hero-section button {
  z-index: 12;
  position: relative;
  background-color: rgb(89, 7, 30);
  border-radius: 24px;
  border: none;
  color: white;
  width: 22ch;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 65rem;
  top: 160px;
  font-size: 1rem;
  font-weight: 500;
}
.heroimg {
  z-index: 1;
  position: relative;
  width: 400px;
  font-size: 2.1rem;
  color: black;
  bottom: 7px;
  left: 22em;
}
@media (max-width: 600px) {
  .header {
    color: rgb(20, 15, 15);
    z-index: 12;
    position: relative;
    font-size: 3.1rem;
    line-height: 1.1;
  }
  .hero-section button {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10rem;
    top: 190px;
    width: 19ch;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
  }
  .heroimg {
    z-index: 1;
    position: relative;
    width: 400px;
    font-size: 1.7rem;
    color: black;
    top: 50px;
    left: 2em;
  }
}
