.menu-toggle {
  border: none;
  background: none;
  color: blue;
  padding: 30px 50px;
  animation-name: example;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.menu-toggle svg {
  width: 40px;
  height: 40px;
}
@keyframes example {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.logo {
  height: 50px;
  width: 270px;
}
.sidebar {
  position: fixed;
  top: 4.68rem;
  left: -380px;
  width: 352px;
  height: 50vh;
  background-color: #b3b3b3;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  transition: left 0.6s ease-in-out;
}

.sidebar-open {
  left: 0;
  height: 50vh !important;
  background-color: #b3b3b3;
  /* transition: left 0.6s ease-in-out; */
}
.sidebar-header {
  display: flex;
  /* padding: 20px; */
  width: 22rem;
  gap: 35px;
  background-color: aliceblue;
}
.close-btn {
  color: rgb(66, 12, 12);
  border: none;
  background: none;
}

.links {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  color: white;
  list-style: none;
}
.links a svg {
  margin-bottom: 2px;
  margin-right: 23px;
}
.links li a {
  text-decoration: none;

  color: rgb(125, 23, 23);
}
.link-text:hover {
  width: 20rem;
  background-color: rgb(39, 39, 170);
}
