body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  background: #0f172a;
  top: 0;
  position: sticky;
  z-index: 1000; 
}
.custom-home {
  padding-bottom: 23px;
  height: 55px;
  width: 80px;
  color: white;
}
nav ul {
  display: flex;
  gap: 2rem;
  padding: 0 25px;
  margin-top: 3px;
}

nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  color: white;
  padding: 0.5rem 25px;
  border-radius: 0.5rem;
}
nav ul li a:not(.active):hover {
  background-color: #073ded;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.5rem;
  height: 2rem;
  cursor: pointer;
}
nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
}

@media (max-width: 600px) {
  nav .menu {
    display: flex;
    margin-top: 9px;
  }
  nav {
    flex-direction: column;
    align-items: start;
  }
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    /* opacity: 0; Initially set opacity to 0 */
    transition: max-height 10.5s ease;
  }
  nav ul.open {
    display: flex;
    transition: max-height 10.5s ease;
    /* animation: fadeIn 10.5s ease forwards; */
  }
  nav ul.close {
    display: flex;
    transition: max-height 10.5s ease;
    /* animation: fadeIn 10.5s ease forwards; */
  }
  nav ul li {
    text-align: center;
  }
  nav ul li a {
    margin: 0.5rem 0.5rem;
  }
  nav .cart {
    margin: auto;
  }
}
nav ul .custom-cart-icon {
  height: 1.9rem;
  width: 2.3rem;
}

nav ul .cart {
  margin-top: 1.2rem;
  color: white;
}
/* .active:not(nav ul li:last-child) {
  background: none;
}

nav ul li:last-child a:hover {
  background: none;
} */
